<?xml version="1.0" encoding="UTF-8"?>
<products>
  <product>
    <id>1</id>
    <name>Μαύρη Μπλούζα</name>
    <price>23.71</price>
    <image>https://ingadget3d.gr/img/p/1/1-home_default.jpg</image>
    <url>https://ingadget3d.gr/index.php?id_product=1&amp;rewrite=hummingbird-printed-t-shirt&amp;controller=product</url>
    <description>Κανονική εφαρμογή, στρογγυλή λαιμόκοψη, κοντά μανίκια.</description>
    <availability>in_stock</availability>
    <categories>Ρούχα,Μπλουζάκια,Casual</categories>
  </product>
  <product>
    <id>19</id>
    <name>Προσαρμόσιμη Κούπα</name>
    <price>17.24</price>
    <image>https://ingadget3d.gr/img/p/2/2/22-home_default.jpg</image>
    <url>https://ingadget3d.gr/index.php?id_product=19&amp;rewrite=customizable-mug&amp;controller=product</url>
    <description>Λευκή κεραμική κούπα, 325ml.</description>
    <availability>in_stock</availability>
    <categories>Σπίτι,Κούπες,Δώρα</categories>
  </product>
</products>
